/* DESKTOP */
.banner{
    min-width: var(--minWidthBody);
    height: 468px;
    background-image: url('../../img/banner.png');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__title{
    margin: 2rem 0;
    font-family: 'Pacifico';
    font-size: 6.0625rem;
    font-weight: 400;
    color: white;
    text-shadow: 0 4px 4px #000000;
    letter-spacing: 5px;

}

