/* MOVIL */
@media screen and (max-width: 767px){
    .banner{
        width: 100%;
        height: 300px;
        background-image: url('../../img/banner.png');
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner__title{
        margin: 2rem 0;
        font-family: 'Pacifico';
        font-size: 5.0625rem;
        font-weight: 400;
        text-align: center;
        color: white;
        text-shadow: 0 4px 4px #000000;
        letter-spacing: 5px;

    }

}

/* DESKTOP */
@media screen and (min-width: 768px){
    .banner{
        min-width: var(--minWidthBody);
        height: 468px;
        background-image: url('../../img/banner.png');
        background-size: cover;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner__title{
        margin: 2rem 0;
        font-family: 'Pacifico';
        font-size: 6.0625rem;
        font-weight: 400;
        color: white;
        text-shadow: 0 4px 4px #000000;
        letter-spacing: 5px;
        text-align: center;

    }
}
