.persona{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.persona__imagen{
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%; 
    margin: 0 auto;
}

.persona__imagen--roberta{
    background-image: url('../../img/personas/roberta.jpg');
}
.persona__imagen--marcela{
    background-image: url('../../img/personas/marcela.jpg');
}
.persona__imagen--andrea{
    background-image: url('../../img/personas/andrea.jpg');
}


.persona__nombre{
    font-family: 'Pacifico', cursive;
    color: #da2b1f;
    font-size: 3.2rem;
    text-align: center;
    line-height: 8rem;
}


.persona__funcion{
    font-family: 'Roboto';
    color: #595959;
    text-align: center;
    font-size: 2rem;
}