/* MOVIL */
@media screen and (max-width: 767px) {
    .receta{
        width: 286px;
        height: 384px;
        background-color: white;
        margin: 0 auto;
    }
}



/* DESKTOP */
@media screen and (min-width: 768px) {
    .receta{
        width: 286px;
        height: 384px;
        background-color: white;
    }
}