.receta__contenido{
    padding: 2rem 2rem;

}

.receta__contenido__titulo{
    font-size: 2.3rem;
    line-height: 2.7rem;
    font-weight: 400;
    font-style: normal;
}

.receta__contenido__descripcion{
    font-size: 1.9rem;
    line-height: 2.2rem;
    font-weight: 400;
    font-style: normal;
}
