/* MOVIL */
@media screen and (max-width: 767px) {
    .rodapie{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 2rem;
    
    }    

}

/* DESKTOP */
.rodapie{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.rodapie__titulo{
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 400;
    color: #8c8888;
}

.rodapie__descripcion{
    font-family: 'Roboto';
    font-size: 3.2rem;
    font-weight: 400;
    color: #8c8888;
}

.rodapie__lista{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.rodapie__lista li{
    margin-left: 2rem;
}
