html{
    font-size: 62.5%;
}

body{
    min-width: var(--minWidthBody);
    max-width: var(--maxWidthBody);
    margin: 0 auto;
    background-color: var(--grayBackgroundBody);
}


h1{
    font-size: 3.2rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.8rem;
}

h4{
    font-size: 2.6rem;
}

p, a{
    font-size: 2rem;
    font-family: 'Roboto';
}

@media screen and (max-width: 767px) {
    body{
        min-width: var(--minWidthBody_m);
        max-width: var(--maxWidthBody_m);
        padding-left: 1rem;
        padding-right: 1rem;

    }

}

@media screen and (min-width: 768px) {
    body{
        min-width: var(--minWidthBody);
        max-width: var(--maxWidthBody);

    }

}
