html{
    font-size: 62.5%;
}

body{
    min-width: var(--minWidthBody);
    max-width: var(--maxWidthBody);
    margin: 0 auto;
    background-color: var(--grayBackgroundBody);
}


h1{
    font-size: 3.2rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.8rem;
}

h4{
    font-size: 2.6rem;
}

p, a{
    font-size: 2rem;
    font-family: 'Roboto';
}